body {
  margin: 0;
  padding: 0;
  background: #7e3131;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  /* grid-auto-rows: 100px; */
  height: 100vh;
  gap: 6px;
}

.cell {
  background: #ff6464;
  border-radius: 50%;
  transition: 0.2s;
}
